footer {
  background-color: #ffffff;
  width: 100%;
  display: flex;
  flex-direction: column;
}

div.side-bar {
  width:100%;
  height: 1px;
  background-color: white;
  filter: drop-shadow(1px 2px 2px black);
}

h2 {
  cursor: default;
}

h3 {
  cursor: default;
}

section.container {
  display: flex;
  padding-left: 30px;
  padding-right: 30px;
}

div.first-bar {
  /*padding-left: 30px;*/
  flex-grow: 1;
  flex-basis: 100%;
  padding-right: 10px;
  padding-left: 10px;
}

div.second-bar {
  padding-right: 10px;
  padding-left: 10px;
  flex-grow: 1;
  flex-basis: 50%;
}

div.third-bar {
  padding-right: 10px;
  padding-left: 10px;
  flex-grow: 1;
  flex-basis: 50%;
}

div.company-logo {
  padding-bottom: 5px;
  height: 50px;
  padding-left: 2px;
  display: flex;
}


a.name {
  font-family: 'SF Pro Display', sans-serif;
  font-weight: 800;
  font-size: 20px;
  margin-bottom: 10px;
  position: relative;
  top: 30px;
  height: 50%;
  outline: none;
  text-transform: uppercase;
  background: linear-gradient(135deg, #8049ff 0%, #62f9ff 25%, #2663ff 50%, #62f9ff 75%, #8049ff 100%);
  background-size: 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  animation: animate 10s linear infinite;
  filter: drop-shadow(1px 2px 1px black);
}

@keyframes animate {
  to{
    background-position: 400%;
  }
}
a {
  font-family: 'SF Pro Display', sans-serif;
  color: #000000;
  text-decoration: none;
}

h3 {
  font-family: 'SF Pro Display', sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #000000;
  text-decoration: none;
  margin-bottom: 20px;
}

p.description {
  font-size: 15px;
  font-weight: 300;
  cursor: default;
}

div.about-company {
  padding-top: 10px;
  width: 100%;
}

ol.find-us {
  margin-top: 30px;
  margin-left: -40px;
}

ol.contact {
  margin-top: 30px;
  margin-left: -40px;
}

li {
  line-height: 2.5;
  list-style-type: none;
}

a.footer-section:after {
	content: '';
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #000000;
	transform-origin: bottom left;
	transition: transform 0.25s ease-out;
  }
  
  a.footer-section:hover:after {
	transform: scaleX(1);
	transform-origin: bottom left;
  }

a.footer-section {
	color: #000000;
	text-decoration: none;
	transition-duration: 0.3s;
  filter: drop-shadow(1px 2px 1px black);
}

a.footer-section:hover {
	transition-duration: 0.3s;
}

p {
  font-family: 'SF Pro Display', sans-serif;
  font-size: 15px;
  color: #000000;
  text-decoration: none;
  /*filter: drop-shadow(1px 2px 2px black);*/
  cursor: default;
}

.copyright {
  padding-top: 6px;
  padding-left: 10px;
  display: flex;
}

a.copyright-section {
  font-size: 15px;
  color: #000000;
	text-decoration: none;
	transition-duration: 0.3s;
  cursor: pointer;
  filter: drop-shadow(1px 1px 1px black);
}

a.copyright-section:after {
	content: '';
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #000000;
	transform-origin: bottom left;
	transition: transform 0.25s ease-out;
  }
  
  a.copyright-section:hover:after {
	transform: scaleX(1);
	transform-origin: bottom left;
  }


a.copyright-section:hover {
	transition-duration: 0.3s;
}

ol.copyright {
  padding-left: 20px;
  padding-right: 20px;
	display: flex;
	position: relative;
}

ol.copyright li {
  padding-left: 10px;
  padding-right: 10px;
}

@media only screen and (max-width:900px) {
  section.container {
    flex-direction: column;
  }
}

@media only screen and (max-width:486px) {
  a.copyright-section {
    font-size: 10px;
  }
  p {
    font-size: 10px;
  }
}