
nav.middle {
  width: 100%;
  height: 600px;
  display: block;
}

h1.welcome-text {
  text-align: center;
  padding-top: 200px;
  font-size: 50px;
  font-weight: 900;
  background: linear-gradient(135deg, #8049ff 0%, #62f9ff 25%, #2663ff 50%, #62f9ff 75%, #8049ff 100%);
  background-size: 400%;  
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  animation: animate 10s linear infinite;
  filter: drop-shadow(1px 4px 2px black);
}

h1.help-text {
  text-align: center;
  width: 700px;
  padding-top:50px;
  padding-bottom: 50px;
  margin: auto;
  outline: none;
  text-transform: uppercase;
  background: linear-gradient(135deg, #8049ff 0%, #62f9ff 25%, #2663ff 50%, #62f9ff 75%, #8049ff 100%);
  background-size: 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  animation: animate 10s linear infinite;
}

@keyframes animate {
  to{
    background-position: 400%;
  }
}


h2 {
  display: block;
  font-size: 30px;
  font-family: 'SF Pro Display', sans-serif;
  font-weight: 600;
  color: #000000;
  text-align: center;
  filter: drop-shadow(1px 1px 1px black);
}

center.discord-embed {
  padding-bottom: 50px;
}
p.welcome-description{
  text-align: center;
}
h1 {
	font-family: 'SF Pro Display', sans-serif;
	font-weight: 800;
	font-size: 25px;
}

a.email:after {
	content: '';
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #000000;
	transform-origin: bottom left;
	transition: transform 0.25s ease-out;
  }
  
  a.email:hover:after {
	transform: scaleX(1);
	transform-origin: bottom left;
  }

a.email {
	color: #000000;
	text-decoration: none;
	transition-duration: 0.3s;
  filter: drop-shadow(1px 2px 1px black);
}

a.email:hover {
	transition-duration: 0.3s;
}

div.middle {
  width: 100%;
  height: 500px;
  display:block;
}
